BOT_TOKEN=your_telegram_bot_token_here
ADMIN_ID=your_telegram_admin_id_here

# Telegram API credentials (my.telegram.org se)
API_ID=your_api_id_here
API_HASH=your_api_hash_here

# MongoDB Connection String
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority

# Payment info
UPI_ID=your-upi-id@paytm
CRYPTO_ADDRESS=your_usdt_trc20_address_here
